.cart {
  margin: 73px 0 0 15%;
  background: #f3f3f3;
  padding: 25px;
}
.root {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px 0;
  font-size: 13px;
  color: #555;
  font-weight: 500;
}
.root_path {
  padding-left: 5px;
  font-size: 13px;
  font-weight: 500;
  color: #111;
}
.filter_btn_box {
  display: none;
  justify-content: end;
  align-items: center;
  padding: 10px;
}
.filter_btn {
  width: fit-content;
  padding: 4px 25px;
  border: 1px solid #ccc;
  color: #333;
  font-size: 13px;
  font-weight: 500;
}
.cart_head {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  padding: 5px 10px;
  background: #dc3545;
  margin: 10px 0;
}

.cart_list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 140px;
  overflow: hidden;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  border-bottom: 1px solid #ccc;
}
.cart_list .cart_img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.cart_remove_btn{
  cursor: pointer;
  padding: 5px 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
}
.total_box{
  width: 35%;

}
.subtotal_box,.shiping_box,.total_price_box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #777;
  font-weight: 500;
  border-bottom: 1px solid #ccc;
  margin: 8px 0;
}
@media (max-width: 900px) {
  .cart {
    margin: 67px 0 0 0;
  }
  .filter_btn_box {
    display: flex;
  }
.cart_head p{
  font-size: 75%;
}
.cart_list{
  grid-template-rows: 100px;
}
}
@media (max-width:650px) {
  .cart_list{
    grid-template-rows: 60px;
  }
  .cart_list p{
    font-size: 70%;
  }
  .cart_list button{
    font-size: 65%;
    padding: 4px;
  }
}
