/* form.css */
.form_container {
    max-width: 600px;
    margin: 160px auto;
    padding: 20px;
    height: 100vh;
  }
  .form-h1{
    margin-bottom: 10px;
    text-align: center;
  }
  .forgot_box{
    width: 100%;
    display: flex;
    justify-content: end;
    color: #333;
    text-decoration: solid #666 underline;
    cursor: pointer;
  }
  .form-h1 span{
    color: #dc3545;
  }
  .tex_box{
    width: 100%;
    display: flex;
    justify-content: start;
    color: #333;
  }
  .tex_box span{
    color: #dc3545;
    font-weight: bold;
    margin-left: 3px;
    cursor: pointer;
  }
  .form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  }
  
  .inputs {
    margin-bottom: 20px;
  }
  
  .inputs input[type="text"],
  .inputs input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background: #f1f1f1;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    border: none;
  }
  
  button {
    padding: 8px;
    border: none;
    outline: none;
    background: #dc3545;
    width: 100%;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    border-radius: 10px;
    margin: 10px 0;
  }
  .other_option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0;
  }
  .other_option span:nth-child(3),
  .other_option span:nth-child(1) {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #bbb;
  }
  .fb_box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3b5998;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0;
  }
  
  .fb_icon {
    margin-right: 10px;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .form_container {
      max-width: 400px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .form_container {
      padding: 10px;
    }
  
    .inputs {
      margin-bottom: 15px;
    }
  
    input[type="text"],
    input[type="password"] {
      font-size: 14px;
    }
  
    button {
      font-size: 14px;
    }
  }
  